/*= Reset CSS 
============= */
/* html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font: 14px 'Lato', Arial, sans-serif;
  min-width: 100%;
  min-height: 100%;
  color: #666;
} */
/* .container {
  margin: 0 auto;
  max-width: 1200px;
} */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* .row {
  float: left;
  width: 100%;
  padding: 20px 0 50px;
} */
/* h2 {
  text-align: center;
  color: #2079df;
  font-size: 3, 733rem;
  float: left;
  width: 100%;
  margin: 4rem 0;
  position: relative;
  line-height: 58px;
  font-weight: 400;
}
h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 2px;
  background-color: #2079df;
  margin-left: -50px;
} */
/*= Reset CSS End
================= */

/*= input focus effects css
=========================== */
:focus {
  outline: none;
}

.col-3 {
  float: left;
  width: 85%;
  margin: 2rem 3%;
  position: relative;
} /* necessary to give position: relative to parent. */
input[type='text'] {
  font: 2rem/3.2rem 'Lato', Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-16,
.effect-17,
.effect-18 {
  border: 0;
  padding: 0.533rem 0;
  border-bottom: 0.133rem solid #ccc;
  background-color: transparent;
}

.effect-16 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.267rem;
  background-color: #3399ff;
  transition: 0.4s;
}
.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
.effect-16 ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 1.2rem;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
  font-size: 2rem;
}
.effect-16:focus ~ label,
.has-content.effect-16 ~ label {
  top: -2.133rem;
  font-size: 1.6rem;
  color: #3399ff;
  transition: 0.3s;
}

/*= input focus effects css End
=============================== */
