* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $source-sans-pro-family;
  //font-size: 7.5px;
}

html {
  font-size: 5.5px;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.green {
  background: green;
}
